বাম পাসের Code snippets আইকন এ ক্লিক করে 'upload' লিখলেই 'open files from your local ' option টা দেখা যাবে এবং অখানে ক্লিক করলেই নিচের code টি চলে আসবে। তবে নিচের code টি রুন অবস্থায় brows করে file upload করতে হবে।

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

In [ ]:
pip install pandas #if not instaled in the system then use it

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import numpy as np # Numpy Header
import pandas as pd #pandas Header

csv upload করার পর এখন read করতে হভে 
এই জন্য <br>
read_csv()<br>
function<br>
যার 1st parameter 'file name' and ২য় 'delimiter'

In [ ]:
df = pd.read_csv('1csv.csv')
df2 = pd.read_csv('csv2.csv',delimiter='-')
df3 = pd.read_csv('csv2.csv') # with out delimiter

In [ ]:
print (df) # print to se the internals of files
print (df2)
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
df3 #printing as it is

       a-b-c-d
0      0-1-2-3
1      4-5-6-7
2    8-9-10-11
3  12-13-14-15

## now the CSV files are loaded <br>
# এখন একটা csv ফাইল যদি প্রোগ্রাম এ তৈরি করে save করতে চাই  :
## to_csv()<br>
এটার ১ম parameter হল  : কন file name এ সাবে করব তা
<br>
এটার 2য় parameter হল  : কোন খালি ঘর থাকলে তা কি নাম দিয়ে fill করবে তা।<br>

In [ ]:
df.to_csv('example_csv_save_true.csv')#'df'variable এর মধ্যে থাকা সব,
                                      #'example_csv_save_true.csv'
                                      #এই নাম এ সেভ হবে colab  files এ 
                                      #যেখানে থেকে download করা যাবে।
df.to_csv('example_csv_save_false.csv',index = False)

In [ ]:
df = pd.read_csv('example_csv_save_true.csv') # যে file টা save করলাম তাইই 
                                              # read করছি
df2 = pd.read_csv('example_csv_save_false.csv') #এটা index= false দিয়ে save করা
df  # printing

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [ ]:
df2  # printing

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

## now time for the excel files

In [ ]:
!pip install xlrd # install this to work with excel files (read)
!pip install openpyxl # install this to work with excel files(open)

Requirement already satisfied: xlrd in /usr/local/lib/python3.6/dist-packages (1.1.0)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.6/dist-packages (2.5.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.6/dist-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in /usr/local/lib/python3.6/dist-packages (from openpyxl) (1.4.1)

In [ ]:
dfx = pd.read_excel("1x.xlsx")

dfx

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [ ]:
df2x=dfx = pd.read_excel("1x.xlsx", sheet_name= "Sheet2" )
df2x

   Unnamed: 0   e   f   g   h
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

## now the excel files are loaded <br>
# এখন একটা excel ফাইল যদি প্রোগ্রাম এ তৈরি করে save করতে চাই  :
## to_excel('excel_save.xlsx',sheet_name='')
এটার ১ম parameter হল  : কন file name এ সাবে করব তা
<br>
এটার 2য় parameter হল  : কোন sheet এ ফিল হবে (sheet name)<br>

In [ ]:
dfx.to_excel('excel_save.xlsx',sheet_name='S1') #saving file

In [ ]:
df = pd.read_excel("excel_save.xlsx")
df2 = pd.read_excel("excel_save.xlsx" , sheet_name='S3')
df2

   Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  Unnamed: 0.1.1.1   e   f   g   h
0           0             0               0                 0   0   1   2   3
1           1             1               1                 1   4   5   6   7
2           2             2               2                 2   8   9  10  11
3           3             3               3                 3  12  13  14  15

# Now, Html file.
at first need to install some libraries.

In [ ]:
!pip install lxml
!pip install html5lib
!pip install BeautifulSoup4

Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (4.2.6)
Requirement already satisfied: html5lib in /usr/local/lib/python3.6/dist-packages (1.0.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from html5lib) (1.15.0)
Requirement already satisfied: BeautifulSoup4 in /usr/local/lib/python3.6/dist-packages (4.6.3)

In [ ]:
#pandas এ html load করালে সুধু এইচটিএমএল page এর table gula load হয়।
df = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')

df[0]

                             Bank Name  ...       Closing Date
0                    Almena State Bank  ...   October 23, 2020
1           First City Bank of Florida  ...   October 16, 2020
2                 The First State Bank  ...      April 3, 2020
3                   Ericson State Bank  ...  February 14, 2020
4     City National Bank of New Jersey  ...   November 1, 2019
..                                 ...  ...                ...
558                 Superior Bank, FSB  ...      July 27, 2001
559                Malta National Bank  ...        May 3, 2001
560    First Alliance Bank & Trust Co.  ...   February 2, 2001
561  National State Bank of Metropolis  ...  December 14, 2000
562                   Bank of Honolulu  ...   October 13, 2000

[563 rows x 6 columns]

এখন এটা কে আমরা  আবার csv অথবা excel ফাইল হিসেবে save করতে পারি

In [ ]:
df[0].to_excel('excel_save.xlsx',sheet_name='S1') #saving file

In [ ]:
read = pd.read_excel("excel_save.xlsx")

read

     Unnamed: 0  ...       Closing Date
0             0  ...   October 23, 2020
1             1  ...   October 16, 2020
2             2  ...      April 3, 2020
3             3  ...  February 14, 2020
4             4  ...   November 1, 2019
..          ...  ...                ...
558         558  ...      July 27, 2001
559         559  ...        May 3, 2001
560         560  ...   February 2, 2001
561         561  ...  December 14, 2000
562         562  ...   October 13, 2000

[563 rows x 7 columns]

# <strong> Series Data type.</Strong>

In [3]:
import numpy as np
import pandas as pd

In [ ]:
labels = 'A B C D'.split() #কত্র গুলা list তৈরি করে নিলাম
print (labels)
my_data = [1,2,3,4]
print (my_data)
arr = np.array(my_data)
print (arr)

['A', 'B', 'C', 'D']
[1, 2, 3, 4]
[1 2 3 4]

In [ ]:
sr = pd.Series(data=my_data)
#এখানে বললাম যে 'my_data' list এর মধ্যে value গুলা নিয়ে একটা series তৈরি করব।
print(sr)
#এখানে বাম পাসের ০১২৩ হল index , দান পাস হল

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
#এখন আমরা indexing জন্য অন্ন value use করতে পারিঃ
sr = pd.Series(data=my_data, index=labels)
# or    sr = pd.Series(my_data,labels)
sr

A    1
B    2
C    3
D    4
dtype: int64

if we use maping function

In [ ]:
dic = {'A':1 , 'B':2 , 'C':3 , 'D':4}
print (dic)
dic2 = {'A':1 , 'B':2 , 'C':3 , 'E':4}  
print (dic)

{'A': 1, 'B': 2, 'C': 3, 'D': 4}
{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [ ]:
# so,
sr2 = pd.Series(dic2)
print(sr2)

A    1
B    2
C    3
E    4
dtype: int64

# sr variable or serise theke value access kora jabe array theke value access korar moto kore

In [ ]:
print(sr[3])
print(sr[2] )

4
3

# sum of to series  Elements

In [ ]:
sr+sr

A    2
B    4
C    6
D    8
dtype: int64

# এখন যদি ২ তা seris এর মধ্যে যদি একই element na থাকে তবে 
NaN diye fill করে

In [ ]:
dic = {'A':1 , 'B':2 , 'C':3 , 'D':4}
print (dic)
dic2 = {'A':1 , 'B':2 , 'C':3 , 'E':4}  
print (dic)



sr = pd.Series(my_data,labels)
sr2 = pd.Series(dic2)

sr + sr2

{'A': 1, 'B': 2, 'C': 3, 'D': 4}
{'A': 1, 'B': 2, 'C': 3, 'D': 4}

A    2.0
B    4.0
C    6.0
D    NaN
E    NaN
dtype: float64

# Data frame (series into series) 

# basically আমরা যে csv , excel file load/read করতেছি তা সবি এক data frame (df) এ load হচ্ছে।

In [ ]:
df = pd.read_csv('1csv.csv') # saving the csv to data frame
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

#now making a data frame manually
# DataFrame(data , columnsIndx, indexRow)

In [4]:
#now making a data frame manually
from numpy.random import randint

arr = randint(-100,100,16).reshape(4,4)# making a random 4x4 marix of 
arr

array([[-63,  80, -24, -62],
       [ 92,  20, -69,  12],
       [ 12, -42, -69,   3],
       [-84,  -9,  58, -65]])

In [6]:
# for index 
row = 'A B C D'.split()
col = 'E F G H'.split()
print(row,col)

['A', 'B', 'C', 'D'] ['E', 'F', 'G', 'H']

In [7]:
#  now creating data frame:

df = pd.DataFrame(data = arr , columns = col , index = row )
# or    pd.DataFrame( arr ,  col , row )
df

    E   F   G   H
A -63  80 -24 -62
B  92  20 -69  12
C  12 -42 -69   3
D -84  -9  58 -65

In [8]:
df['E'] # acceccing column wise elements

A   -63
B    92
C    12
D   -84
Name: E, dtype: int64

In [9]:
df[['E','F','G']] # acceccing multiple column wise

    E   F   G
A -63  80 -24
B  92  20 -69
C  12 -42 -69
D -84  -9  58

if need, we can save the data frame

In [10]:
df.to_csv('manual_create_dataFrame.csv',index = False)

In [ ]:
df[['E','F','G']] # acceccing multiple column wise

    E   F   G
A -37  87  22
B -31 -14 -32
C   9  20 -46
D  87  22  42

In [ ]:
df.loc['A']# acceccing Row wise elements

E   -37
F    87
G    22
H   -61
Name: A, dtype: int64

In [ ]:
#number index wise value
df.iloc[2] # printing all value of 2th row

E     9
F    20
G   -46
H   -88
Name: C, dtype: int64

# now  append a new column at data frame

In [11]:

df['new'] = df['G'] + df['H']
df

    E   F   G   H  new
A -63  80 -24 -62  -86
B  92  20 -69  12  -57
C  12 -42 -69   3  -66
D -84  -9  58 -65   -7

# now  append a new ROw at data frame

In [12]:
df.loc['E'] = df.loc['C'] + df.loc['D']
df

    E   F   G   H  new
A -63  80 -24 -62  -86
B  92  20 -69  12  -57
C  12 -42 -69   3  -66
D -84  -9  58 -65   -7
E -72 -51 -11 -62  -73

# now deleta elements from data frame
## drop()

In [13]:
# here the first parameter is foe the lebel name, 'axis= 0' delet row wise and 'axis =1' delete columun wise
# here by default 'axis=0' # inplace=True , actully delete the value
df.drop('new', axis = 1,inplace = True)
df

# another way:
#del df['New']

    E   F   G   H
A -63  80 -24 -62
B  92  20 -69  12
C  12 -42 -69   3
D -84  -9  58 -65
E -72 -51 -11 -62

In [14]:
df.drop('E', axis = 0,inplace = True)
# or   df.drop('E',inplace = True)
df

    E   F   G   H
A -63  80 -24 -62
B  92  20 -69  12
C  12 -42 -69   3
D -84  -9  58 -65

<br>

# Pandas DataFrame Conditional Selection

In [16]:
df>0

       E      F      G      H
A  False   True  False  False
B   True   True  False   True
C   True  False  False   True
D  False  False   True  False

In [18]:
df[df>0]

      E     F     G     H
A   NaN  80.0   NaN   NaN
B  92.0  20.0   NaN  12.0
C  12.0   NaN   NaN   3.0
D   NaN   NaN  58.0   NaN

In [20]:
df[df<0]

      E     F     G     H
A -63.0   NaN -24.0 -62.0
B   NaN   NaN -69.0   NaN
C   NaN -42.0 -69.0   NaN
D -84.0  -9.0   NaN -65.0

we know,<br>
df[['E','F']] # acceccing multiple column wise elements<br>
df.loc['A']# acceccing Row wise elements<br>
df.iloc[2] <br>

# now

df.['F'] means 'F' column

In [31]:
print(df)
df[df['F']<0] # means show all columns that satisfy the elements of f column is less than zero

    E   F   G   H
A -63  80 -24 -62
B  92  20 -69  12
C  12 -42 -69   3
D -84  -9  58 -65

    E   F   G   H
C  12 -42 -69   3
D -84  -9  58 -65

In [32]:
# NOW, show only 'F'columns and satisfy the elements of f column is less than zero 
df[df['F']<0]['F']

C   -42
D    -9
Name: F, dtype: int64

# double conditions

In [40]:
print(df)
df[(df['F']<0) & (df['H'] > -80)]

    E   F   G   H
A -63  80 -24 -62
B  92  20 -69  12
C  12 -42 -69   3
D -84  -9  58 -65

    E   F   G   H
C  12 -42 -69   3
D -84  -9  58 -65

# <strong>Pandas Missing Data </strong>

In [43]:
df[df<0] #NaN are the missing data

      E     F     G     H
A -63.0   NaN -24.0 -62.0
B   NaN   NaN -69.0   NaN
C   NaN -42.0 -69.0   NaN
D -84.0  -9.0   NaN -65.0

In [45]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]}) # 'np.nan' is for NaN value
# creating new data frame
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [47]:
df.dropna() # it drops all NaN value row.

     A    B  C
0  1.0  5.0  1

In [50]:
# axis= 1 , then for column wise if no NaN value then keep that column, else drop
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [79]:
# 'thresh' at least কয় টা non NaN value thakle ও bad dibo না ?
# thresh = 2 , 2 non NaN values থাকলে বাদ দিব না, ৩ টা non NaN থাকলে বাদ।
df.dropna(thresh=2) #at least 2 ta non NaN value tahkete hobe.

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [61]:
df.dropna(how='all') # if all values are NaN then delete that row, how default value is any

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

https://www.youtube.com/watch?v=drD2pQbYRfI
<br><br>
check this link for more:<br> Pandas - pandas.DataFrame.dropna() Function Explained Clearly

# inplace 
# filling data in NaN place

In [82]:
df.fillna(10,inplace=True) # fill all NaN with '10'
df

#or 
#df.fillna('fill',inplace=True) # fill all NaN with '10'
#df

      A     B  C
0   1.0   5.0  1
1   2.0  10.0  2
2  10.0  10.0  3

# excrise:

In [94]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]}) # 'np.nan' is for NaN value
# creating new data frame
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [95]:
print(df['A'].sum())
print(df['A'].mean())
df['A'].fillna(value = df['A'].sum() , inplace = True)
df

3.0
1.5

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  3.0  NaN  3

# Pandas GroupBy 
# Database

In [98]:
#making dictonary
data = {
    'Dept': ['CSE' ,'CSE' , 'CE','CE', 'EEE','EEE' ],
    'StudentName': ['S' , 'B' , 'A' , 'D', 'E' , 'E'],
    'Total_Marks': [100,200,150,250,100,150]
}
df = pd.DataFrame(data) 
df

  Dept StudentName  Total_Marks
0  CSE           S          100
1  CSE           B          200
2   CE           A          150
3   CE           D          250
4  EEE           E          100
5  EEE           E          150

In [101]:
df.groupby('Dept') # গ্রুপ করলাম dept ভিত্তি তে

In [103]:
comp = df.groupby('Dept') # গ্রুপ করলাম dept এর ভিত্তি তে এবং variable e rakhlam
comp.mean() # per group এর avg marks দেখাবে

      Total_Marks
Dept
CE            200
CSE           150
EEE           125

In [105]:
# more:
comp.min()  # per group এর minimum marks দেখাবে
comp.max()  # per group এর minimum marks দেখাবে

comp.count()  # per group কয় জন মানুষ

     StudentName  Total_Marks
Dept
CE             D          250
CSE            S          200
EEE            E          150

In [107]:
#most important
comp.describe() # Generate descriptive statistics.

     Total_Marks
           count   mean        std    min    25%    50%    75%    max
Dept
CE           2.0  200.0  70.710678  150.0  175.0  200.0  225.0  250.0
CSE          2.0  150.0  70.710678  100.0  125.0  150.0  175.0  200.0
EEE          2.0  125.0  35.355339  100.0  112.5  125.0  137.5  150.0

In [109]:
#most important
comp.describe().transpose() # printing as transpose

Dept                       CE         CSE         EEE
Total_Marks count    2.000000    2.000000    2.000000
            mean   200.000000  150.000000  125.000000
            std     70.710678   70.710678   35.355339
            min    150.000000  100.000000  100.000000
            25%    175.000000  125.000000  112.500000
            50%    200.000000  150.000000  125.000000
            75%    225.000000  175.000000  137.500000
            max    250.000000  200.000000  150.000000

In [111]:
#most important
comp.describe().transpose()['CSE'] # if only want a CSE or EEE column 

#or df=comp.describe().transpose()
# df['CSE']

Total_Marks  count      2.000000
             mean     150.000000
             std       70.710678
             min      100.000000
             25%      125.000000
             50%      150.000000
             75%      175.000000
             max      200.000000
Name: CSE, dtype: float64

# Pandas Join Merge Concat

In [115]:

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])
print(df1)
print()
print(df2)
print()
print(df3)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [117]:

pd.concat([df1 , df2 , df3]) # row  wise concate

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [118]:
pd.concat([df1 , df2 , df3], axis=1)# column  wise concate

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

# Marge
# primary key, foreign key diye 2 table er data concat/ Marge kora

In [128]:
left = pd.DataFrame({'key': ['K3', 'K2', 'K1', 'K0'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

print(left)
print()
print(right)

  key   A   B
0  K3  A0  B0
1  K2  A1  B1
2  K1  A2  B2
3  K0  A3  B3

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [127]:

pd.merge(left , right , how = 'inner' , on = 'key')

  key   A   B   C   D
0  K3  A0  B0  C3  D3
1  K2  A1  B1  C2  D2
2  K1  A2  B2  C1  D1

# how{‘left’, ‘right’, ‘outer’, ‘inner’}
, default ‘inner’<br>
Type of merge to be performed.
<br>
left: use only keys from left frame, similar to a SQL left outer join; preserve key order.
<br>
right: use only keys from right frame, similar to a SQL right outer join; preserve key order.
<br>
outer: use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically.
<br>
inner: use intersection of keys from both frames, similar to a SQL inner join; preserve the order of the left keys.<br>

In [130]:

left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})
print(left)
print()
print(right)

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [131]:
# marge with 2 keys:

pd.merge(left,right , on = ['key1' , 'key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [133]:
pd.merge(left,right ,how='outer', on = ['key1' , 'key2'])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

In [134]:
pd.merge(left,right , how = 'right' , on = ['key1' , 'key2'])

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

# <strong>join operation</strong>

In [140]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])
print(left)
print()
print(right)

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [138]:
left.join(right) # here priority is left

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [142]:
left.join(right , how = 'right')  # here priority is  right

      A    B   C   D
K0   A0   B0  C0  D0
K2   A2   B2  C2  D2
K3  NaN  NaN  C3  D3

In [143]:
left.join(right , how = 'outer') # take all

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

# Pandas Operations

In [172]:
df = pd.DataFrame({
    'col1':[1,2,3,4],
    'col2':[11,22,22,44],
    'col3':['abc' , 'def' , 'ghi' , 'jkl']
})

df

   col1  col2 col3
0     1    11  abc
1     2    22  def
2     3    22  ghi
3     4    44  jkl

In [146]:
df.head() # যদি অনেক data থাকে, তাহলে 'head()' use করে অল্প data dekha jay

   col1  col2 col3
0     1    11  abc
1     2    22  def
2     3    22  ghi
3     4    44  jkl

# এখন আমরা যদি চাই যে col2 তে unique কি কি value আছে

In [148]:
df['col2'] # প্রথম এ দেরখি xol2 te ki ki value ache

0    11
1    22
2    22
3    44
Name: col2, dtype: int64

In [150]:
#ekhane 44 , 11 ,22 unique
df['col2'].unique()

array([11, 22, 44])

In [152]:
set(df['col2']) # another way

{11, 22, 44}

In [155]:
# now how many number are unique here? 3

df['col2'].nunique()

3

In [156]:

df['col2'].value_counts()

22    2
11    1
44    1
Name: col2, dtype: int64

In [162]:
# condition
print(df)
print()
df2 = df[(df['col1'] > 2) & ((df['col2'] == 22) | (df['col2'] == 44))]
df2

   col1  col2 col3
0     1    11  abc
1     2    22  def
2     3    22  ghi
3     4    44  jkl

   col1  col2 col3
2     3    22  ghi
3     4    44  jkl

In [164]:
def times_square(x): # function    
    return x*x

In [166]:
df['col1'].apply(times_square) #apply( function name)

0     1
1     4
2     9
3    16
Name: col1, dtype: int64

In [168]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

# remove or delete a column

In [173]:
del df['col1']

In [174]:
df

   col2 col3
0    11  abc
1    22  def
2    22  ghi
3    44  jkl

In [177]:
df.columns # names of columns

Index(['col2', 'col3'], dtype='object')

In [181]:
df.index # range of index

RangeIndex(start=0, stop=4, step=1)

# if the values in data frame are not sorted than we can sort it

In [185]:
df = pd.DataFrame({
    'col1':[1,2,3,4],
    'col2':[110,22,44,22],
    'col3':['abc' , 'def' , 'ghi' , 'jkl']
})
df

   col1  col2 col3
0     1   110  abc
1     2    22  def
2     3    44  ghi
3     4    22  jkl

In [186]:
df.sort_values(by='col2')# sort the data frame based on col2

   col1  col2 col3
1     2    22  def
3     4    22  jkl
2     3    44  ghi
0     1   110  abc

In [188]:
# এখানে কোন NaN কি আছে কিনা?
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [190]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [191]:
df2 = df.pivot_table(values='D' , index = ['A' , 'B'] , columns = 'C')
# 'A' index
# 'B' sub index
# column 'c'  এর মধ্যে যে value (x,y) গুলা আছে টার ভিত্তি তে ছ এর value কি কি

In [192]:
df2

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN